body
{
	width: auto;
	background-color: #eeeddd;
}

h1
{
	margin: 0 auto;
}

#header
{
	min-width: 90%;
	text-align: center;
	background-color: #fffeee;
	margin: 0 auto;
	padding: 10px;
	border: 2px solid #000000;
	border-radius: 10px;
}

#header h2
{
	font-size: 16px;
	color: #333333;
	margin: 0 auto;
}

#content
{
	background-color: #fffeee;
	padding: 10px;
	margin-top: 10px;
	border: 2px solid #000000;
	border-radius: 10px;
}
